/* Work Sans font size */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,800&family=Work+Sans:wght@400;600;700&display=swap');



/*  sheared style */
header {
    background: rgba(255, 144, 14, 0.10);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 240px;
    align-items: center;
}

h1 {
    font-family: Work Sans;
    font-weight: 700;
}

nav>ul {
    display: flex;
    list-style: none;
}

nav li {
    color: var(--dark-02, #424242);
    font-weight: 500;
    line-height: 26px;
    margin: 0 20px;
}

nav li a {
    text-decoration: none;
    text-align: center;
    font-weight: 500;

}

/* banner style */
.banner {
    width: 90%;
    margin: 0 auto;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    padding: 20px 25px;
}

.banner-content {
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
}

.banner-title {
    color: var(--dark-01, #131313);
    font-size: 4rem;
    font-weight: 700;
}

.banner-describtion {
    color: var(--dark-03, #727272);
    font-weight: 400;
    line-height: 26px;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* end a header section */

/* start a main style */
main {}

.team-cointainer {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.teams-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    width: 30%;
}

.tesm-title {

    font-size: 45px;
    font-weight: 700;
}

.Quick-list {
    color: var(--dark-03, #727272);
}

.of-our {
    color: var(--dark-01, #131313);
}

.Features {
    color: #FF900E;
}

.team-des {
    color: var(--dark-03, #727272);
    font-weight: 400;
    line-height: 26px;
}

/* end container section */
/* start a feature section */
.features-container {
    display: flex;
    width: 90%;
    height: 800px;
    margin: 10px auto;
    border: 2PX solid red;
}

.features-container-title {
    width: 60%;
    padding: 30px;
    border: 2px solid black;
}

.feature-img {
    width: 40%;
    border: 2px dotted blue;
}

.feature-img>img {
    width: 100%;
    height: 95%;
}

.feature-title {
    color: var(--dark-01, #131313);
    font-size: 3rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-des {
    color: var(--dark-03, #727272);
    font-weight: 400;
    line-height: 26px;
    padding: 5px;
}

.feature-card {

    width: 60%;
    margin: 5px;
    padding-left: 15px;
}

.btn {
    color: #FFF;
    height:100px;
    width: 200px;
    background-color: #FF900E;
    border-radius: 10px;
    position: relative;
    bottom: 60px;
    left: -50px;
}
.btn-text{
    padding: auto 2px;
    text-align: center;
    margin: auto;

}
.Experience {
    font-size: 20px;
    font-weight: 500;
}



/* start a fact section */
.fact {
    /* width: 90%; */
    margin: 30px auto;
}

.fact-title-container {
    width: 90%;
    margin: 0 auto;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    height: 150px;
    width: 150px;
    text-align: center;
    margin: 0;
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 50px 25px;
}

.card-status {
    margin: 0;
}

.card-title {
    color: var(--dark-03, #727272);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;

}

/* start a sponpors section */
.Sponspors {

    text-align: center;
}

.sponspors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 30px;
}

.sponspors-img-container img {
    width: 120px;
    height: 30px;
}














/* responsive Media Query */

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    nav ul {
        padding: 0;
    }

    .banner-content,
    .team-content {
        width: 90%;
    }

    .banner-title {
        font-size: 1rem;
    }

    .team-cointainer {
        flex-direction: column-reverse;
    }

    .teams-img {
        grid-template-columns: 1fr;
    }

    .fact {
        flex-direction: column-reverse;
        width: 90%;
    }

    .facts-card-container,
    .sponspors-img-container {
        flex-direction: column;
        align-items: center;

    }

    .card {
        margin: 5px;
    }

    .sponspors-img-container img {
        padding: 30px;
    }

}



/* Tablet/ medium devices */

@media screen and (min-width: 576px) and (max-width: 922px) {
    nav {
        justify-content: space-evenly;
    }

    .banner-content {
        width: 100%;
    }

    .team-cointainer {
        flex-direction: column-reverse;
    }

    .teams-img {
        gap: 0.5rem;
    }

    .team-content {
        width: 90%;
    }

    .card {
        margin: 10px;
    }

    .sponspors-img-container {
        gap: 5px;
    }

    .sponspors-img-container img {
        width: 70px;
    }
}